<div id="selected-app-header">
  <h1>App {{app.name}}</h1>
  <span>Token: {{$stateParams.token}}</span>
  <md-menu id="settings-menu" md-position-mode="target-right target">
    <md-button aria-label="Open menu" class="md-icon-button no-outline" ng-click="$mdOpenMenu($event)">
      <md-icon aria-label="Settings" md-svg-src="assets/images/settings-icon.svg"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="showConfirmClear($event)">
          <md-icon md-svg-icon="assets/images/clear-icon.svg"></md-icon>
          Clear App Data
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="showConfirmDelete($event)">
          <md-icon md-svg-icon="assets/images/delete-icon.svg"></md-icon>
          Delete App
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<md-progress-circular ng-hide="!loading" md-mode="indeterminate" md-diameter="90"></md-progress-circular>
<p style="text-align:center;" ng-hide="loading || data.length > 0">No application data!</p>

<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a ng-hide="!node.children" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    <span ng-if="node.children">{{node.title}}</span>
    <span ng-if="!node.children">{{node.content}}</span>
  </div>
  <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
  </ol>
</script>

<div ui-tree data-nodrop-enabled="true" data-clone-enabled="false" data-drag-enabled="false">
  <ol ui-tree-nodes="" ng-if="data" ng-model="data">
    <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
  </ol>
  <!--<md-button id="add-tree-data-item" class="md-primary md-raised" ng-click="newSubItem(this)">Add New Data Item</md-button>-->
</div>
