<md-toolbar layout="row" class="non-fixed-toolbar">
  <div class="md-toolbar-tools">
    <a href="/" class="toolbar-logo-stuff">
      <img id="logo-toolbar" alt="Ease Logo" src="assets/images/EaseWhiteLogo.svg">
    </a>
    <a href="/dashboard" class="toolbar-logo-stuff" hide-sm>
      <h1 id="title-text">Dashboard</h1>
    </a>
    <div id="nav-right-actions-dash">
      <a target="_blank" href="/docs" id='nav-right-docs-link-wrapper'>
        <div layout="column">
          <md-icon aria-label="Docs" md-svg-src="assets/images/docs-icon.svg"></md-icon>
          <p class="icon-under-label">Docs</p>
        </div>
      </a>
      <md-menu md-offset="0 64" md-position-mode="target-right target">
          <md-button aria-label="Open menu" class="md-icon-button no-outline" ng-click="$mdOpenMenu($event)">
            <img id="profile-pic" ng-src="http://www.gravatar.com/avatar/{{user.emailHash}}"></img>
          </md-button>
          <md-menu-content width="4" >
            <p id="profile-popup-email">{{user.email}}</p>
            <md-menu-item>
              <md-button ng-click="">
                <p>My Apps</p>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="">
                <p>My Account</p>
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="signOut($event)">
                <p>Sign Out</p>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    </div>
  </div>
</md-toolbar>
<div layout="row" flex>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
        </md-content>
        <img ng-click="showAddApp()" id="new-app-icon" src="assets/images/new-app-icon.png" alt="New App">
    </div>
</div>
